<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Object Selection</title>
</head>
<body>
    <form action="/submit" method="post">
        <input type="checkbox" name="class" value="person"> Person<br>
        <input type="checkbox" name="class" value="ball"> Ball<br>
        <input type="checkbox" name="class" value="car"> Car<br>
        <input type="checkbox" name="class" value="bottle"> Bottle<br>
        <input type="checkbox" name="class" value="mobile phone"> Mobile Phone<br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
